@font-face {
  font-family: BarlowLight;
  src: url(fonts/BarlowCondensed-Light.ttf)
}

@font-face {
  font-family: BarlowMedium;
  src: url(fonts/BarlowCondensed-Medium.ttf)
}

* {
  margin: 0;
  padding: 0;
  background-color: #F4F1DE;
}
/* header */
h1 {
  padding-top: 8vh;
  text-align: center;
  padding-bottom: 5vh;
  font-family: BarlowLight;
  font-size: 90px;
  color: #E07A5F;
  background-color: #F2CC8F;
  
}
body {
  font-family: BarlowLight;
  margin-bottom:200px
}

/* NAV BAR */
nav {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  overflow: hidden;
  background-color: #81B29A;
}

nav a{
  float: inherit;
  background-color: #81B29A;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #3D405B;
  text-decoration: none;
}
nav a:hover {
  background-color: #3D405B;
  color: #81B29A
}

h2 {
  color: #3D405B;
  font-size: 45px;
  margin-top: 2vh;
  margin-left: 4vw;
}

h3 {
  color: #3D405B;
  font-size: 30px;
  padding-top: 2vh
}

/* BODY STYLES */
.BodyContent {
  margin-top: 2vh;
  margin-left: 6vw;
  color: #3D405B;
  font-size: 19px;
  max-width: 70vw;
}

.resumeHead {
  font-weight: bold;
  padding-left: 2vw;
  padding-top: 1vh;
}

.resumeBody {
  margin-left: 6vw;
}

/* CONTACT FORM STYLES */
.button {
  background-color: #E07A5F;
  border: none;
  color:#3D405B;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: BarlowLight;
  margin: 10px 10px
}

.button:hover {
  background-color: #81B29A ;
}

.textbox {
  border-style: solid;
  border-width: 1px;
  margin: 5px 5px;
  border-color: #3D405B;
  font-size: 17px;
  padding: 8px;
  font-family: BarlowLight;
  width: 200px
}

#content {
  border-color: #3D405B;
  font-size: 17px;
  padding: 8px;
  font-family: BarlowLight;
}

/* SOCIAL LINKS */
.fa {
  padding: 20px;
  text-align: left;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #E07A5F;
  color:#3D405B;
}

.fa:hover {
  background-color: #81B29A;
}

.socials {
  vertical-align: text-bottom;
  position: fixed;
  bottom: 2vh;
  left: 2vh;
  font-size: 40px;
}

/* HOMEPAGE */

.Homecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Homeitem {
  margin: 10px;
  padding: 10px;
}

.homeImage {
  max-width: 500px;
  max-height: 500px;
}

.homeAbout {
  font-size: 15pt;
  flex-grow: 2;
  max-width: 40vw;
}

/* PORTFOLIO GALLERY STYLES */

.PortfolioContainer {
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left:2vw;
  margin-right: 0;
  margin-top:.8vh;
  width: 90vw;
}

.Portfolio{
  display:flex;
  flex: wrap;
  padding:10px
}


.folioImage {
  max-height: 350px;
}

.folioDescription {
  padding: 15px;
  text-align: center;
  background-color: #E07A5F;
  color: #3D405B;
  font-size: 22px;
}
